<html>
<head>
    <title>$i18n.getText("pl.com.tt.eventmeet.actions.configure-public-groups")</title>
    <meta name="projectKey" content="$projectKey"/>
    <meta name="projectId" content="$projectId"/>

    <meta name="decorator" content="admin"/>
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
</head>
<body>
<div id="root"/>
    $webResourceManager.requireResource("pl.com.tt.event-meet-for-jira:react-bundle-plugin-configuration-public")
</body>
</html>
